@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: montreal;
    src: url(./assets/fonts/NeueMontreal-Regular.otf);
}

@font-face{
    font-family:montreal;
    font-weight:100;
    src: url("./assets/fonts/NeueMontreal-Light.otf")
}


@font-face{
    font-family:montreal;
    font-weight:300;
    src: url("./assets/fonts/NeueMontreal-Medium.otf")
}

@font-face {
    font-family: founder;
    src: url("./assets/fonts/FoundersGrotesk-Semibold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}